.header{
  background-color : rgb(14, 245, 75);
  display : flex;
  flex-flow : row wrap;
  justify-content: space-around;
  align-items : center;
  width : 1521px;
  height : 150px;
 
}

#tortue {
  flex-basis: auto;
  
  }

#site {
  flex-basis : auto;
  font-family : Snell Roundhand, cursive;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  color: yellow;
 
  width:1300px;
  heigth:150px;
  text-align: center; 
 }

.sommaire{
  height: 550px;
  width: 350px;
  border: 2px solid black;
  background-color: rgb(237,245,14);
  position : fixed;
    top: 175px;
    left: 10px;
  padding-left: 30px;
  border-radius: 50px;
  font-size : 1.2em;
  
}

#bienvenue {
  width: 1030px;
  height : 250px;
  position : relative;
    top : 20px;
    left : 400px ;
  border : 2px solid black;
  border-radius: 50px;  
  padding :20px 30px 20px 30px;
  font-size : 1.2em;
  text-align: justify;
 
}

body {
  background-color: rgba(14,245,75,0.4);
}


h2{
  font-family : Snell Roundhand, cursive;
  font-size: 1.7em;
  color: orange;
}

body{
  font-family : Arial Narrow;
  font-size: 1em;
  color: noir;
}

div{
  position : relative;
    top : 35px;
    left : 400px ;
  width: 1030px;
  border : 2px solid black;
  border-radius: 50px;  
  padding :20px 30px 20px 30px;
  font-size : 1.2em;
}

td {
  border: 1px double black; /* auront une bordure de 1px */
  text-align : center;
  empty-cells: hide, show;
}
th {
  border: 2px double red; /* auront une bordure de 1px */
  empty-cells: hide, show;
}

