body  {
  font-family : Snell Roundhand, cursive;
  font-size: 1em;
  color: noir;
  background-color: rgb(96,123,139);
}

.header {
  display : flex;
  justify-content: flex-start;
  align-items : center ;
  background-color: white;
  margin-bottom: 30px;
}
 
h1 {
  flex-basis: auto;
  font-family : Snell Roundhand, cursive;  
  font-size: 2.5em;
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; 
  margin: auto;
}

.format {
  background-color: white;
  margin : 10px 10px 10px 10px;
  padding : 10px 20px 10px 20px;
  text-align: justify;
  border-radius: 20px;
  }

.container1{
  display : flex;
  justify-content: space-around;
  }

.bandeaugauche {
  width: 20%;
  padding: 20px 20px 20px 10px;
  background-color: white;  
  }

.sommaire{
  margin-top: 50px;
  margin-bottom: 150px;
 }

.container2{
  display : flex;
  flex-direction: column;
  width: 35%;
  }

.container3{
  display : flex;
  flex-direction: column;
  width: 75%;
  }

.bienvenue {
  width: 55%;
  font-size: 1.2em;
  padding: 150px 50px 50px 50px;
  }

.flex3 {
  display : flex;
  flex-direction: column;
  }

.direction{ 
  background-color: orange;
  width: auto;
  text-align: center;
  margin-left: 50px;
  margin-right:50px;
  border-radius: 20px;
}
.pied {
 padding-left: 50px;
 padding-right: 50px;
}
.format {
 padding-left: 50px;
 padding-right: 50px;
}

h2 {  
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: orange;
}

h3 {  
  font-weight: bold;
  margin-top: 50px;
}

.direction:hover {
  background-color: yellow;
}
.footer {
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  }
  
.flex2 {
  display : flex;
  justify-content: flex-start;
  }

#margin {
  padding-right : 60px;
  padding-left : 60px;
  }
  
.container4 {
  display : flex;  
  flex-direction: column; 
  }
  
.container5 {
  display : flex;
  flex-direction: column;
  background-color: white;   
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  align-items: center;
  width: 50%;
  margin-left: 25%;
} 

.itemformu {
  padding: 20px 0px 20px 0px;
}

td {
  border: 1px double black; /* auront une bordure de 1px */
  text-align : center;
  empty-cells: hide, show;
}
th {
  border: 2px double red; /* auront une bordure de 1px */
  empty-cells: hide, show;
}

.carre {
  height: 100px;
  width: 100px;
  margin-left: 10%;
  }
  
.vert {
  background-color: green;
  }
  
.vert:hover{
  background-color: orange;
  }
  
.carre2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
  
.carre2:hover{
  transform: rotate(180deg); 
  height: 150px;
  width: 150px;
  background-color: pink;
  }